.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0; /* Reduzido de 2rem para 1rem */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  margin-bottom: 0.5rem; /* Reduzido */
}

.social-links a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0.5rem; /* Reduzido */
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #08d9d6;
}

.footer-text p {
  font-size: 0.8rem; /* Reduzido */
  text-align: center;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-links {
    margin-bottom: 0;
  }
}
