/* footer.component.css */

.footer {
  background-color: #333;
  color: #fff;
  height: 60px; /* Defina a altura desejada */
  display: flex; /* Utiliza Flexbox */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  font-size: 1rem; /* Aumenta o tamanho da fonte */
  margin: 0; /* Remove margens padrão */
  text-align: center;
}
