<footer class="text-center" style="background-color: #313131;">
  <!-- Grid container -->
  <div class="container d-flex justify-content-center">
    <!-- Section: Social media -->
      <div class="redes-link">
        <a class="icon icon-github" href="https://github.com/devDouglasN" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a class="icon icon-linkedin" href="https://www.linkedin.com/in/douglas-nascimento-323043269/"
            target="_blank">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
    </div>
  </div>

  <!-- Copyright -->
  <div class="copy">
    <p>
      Todos os direitos reservados © 2024
      <span>Douglas Nascimento</span>
    </p>
  </div>
</footer>
