span{
  color: #D49BB0;
  font-weight: bold;
}

.social-container {
  display: flex;
  height: 70px;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.redes-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redes-link a {
  text-decoration: none;
  font-size: .9em;
  color: #f3f3f3;
  margin-left: 1em;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  outline: 2px solid #f3f3f3;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}

.copy p{
  font-size: calc(.5em + .4vw);
  margin-top: .5em;
  margin-left: 1em;
  }

.icon:hover {
  outline-offset: 2px;
}

.icon:hover {
  transform: translateY(-5px);
}

.icon-github:hover {
  background-color: #4c2882;
  outline-color: #4c2882;
}

.icon-linkedin:hover {
  background-color: #0072b1;
  outline-color: #0072b1;
}
