<p></p><footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <div class="redes-link">
        <a class="icon icon-github" href="https://github.com/devDouglasN" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a class="icon icon-linkedin" href="https://www.linkedin.com/in/douglas-nascimento-323043269/"
            target="_blank">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
    </div>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Todos os direitos reservados © 2024
    <span>Douglas Nascimento</span>
  </div>
</footer>
