/* Seção */
.section {
  padding: 100px 0;
  background-color: #f0f0f0; /* Cor clara para um visual profissional */
  color: #333;
}

/* Container */
.container {
  width: 85%;
  margin: 0 auto;
}

/* Cabeçalho da Seção */
.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-size: 2.8em;
  margin-bottom: 10px;
  color: #222;
}

.section-header p {
  font-size: 1.2em;
  color: #555;
}

/* Conteúdo de Contato */
.contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

/* Informações de Contato */
.contact-info {
  flex: 1 1 45%;
  margin-bottom: 40px;
}

.contact-info h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 30px;
}

.info-list {
  list-style: none;
  padding: 0;
}

.info-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.contact-link:hover {
  color: #08d9d6;
}

.info-list .icon {
  font-size: 1.5em;
  margin-right: 15px;
  color: #08d9d6;
}

.info-list span {
  font-size: 1.1em;
}

/* Formulário de Contato */
.contact-form {
  flex: 1 1 45%;
}

.contact-form form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  color: #333;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #999;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #08d9d6;
}

.btn {
  display: inline-flex;
  align-items: center;
  background-color: #08d9d6;
  color: #fff;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.btn fa-icon {
  margin-left: 10px;
}

.btn:hover {
  background-color: #06b1c1;
}

/* Responsividade */
@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    flex: 1 1 100%;
  }
}
