.contato-container{
  display: flex;
  flex-direction: row;
  column-gap: 5em;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.contato-info{
  display: grid;
  row-gap: 1em;
  margin-top: 1em;
}

.contato-card{
  position: relative;
  top: -2em;
  background-color: rgba(255, 255, 255, .15);
  box-shadow: 0 10px 20px #00000080;
  padding: .4em;
  border-radius: .5em;
  text-align: center;
}

.icon-card{
  font-size: 1.8em;
  margin-bottom: 2em;
}

.titulo,
.subtitulo{
  font-size: 1em;
}

.titulo{
  font-weight: bold;
}

.subtitulo{
  display: block;
  margin-bottom: .75em;
}

.contato-button{
  text-decoration: none;
  color: #D49BB0;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25em;
  cursor: pointer;
}

.contato-button-icon{
  font-size: 1em;
  transition: .3s;
}

.contato-button:hover .contato-button-icon{
  transform: translateX(.25em);
}

.input-container{
  position: relative;
  margin-top: .1em;
  margin-bottom: 1em;
}

.input{
  width: 290px;
  border: 2px solid #f3f3f3;
  background-color: transparent;
  padding: .4em 8em;
  color: #f3f3f3;
  border-radius: .5em;
  letter-spacing: .5px;
  transition: .3s;
  outline: none;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  color: #f3f3f3;
  background-color: #232323;
  font-size: .8em;
  padding: 0 .4em;
  pointer-events: none;
  z-index: 500;
  transform: translateY(-50%);
}

.input-container span::before,
.input-container span::after{
  content: '';
  position: absolute;
  width: 50%;
  opacity: 0;
  transition: .3s;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #232323;
}

button{
  border: none;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center
}
