<section id="contato" class="contato section vh-100">
  <div data-aos="zoom-in-up" class="justify-content-center">
    <h2 class="h2 titulo-section move-up">Contato</h2>
  </div>
  <div class="contato-container">
    <div class="img-contato">
      <img src="./assets/contato-img.jpg" alt="Animacao" class="img-fluid">
    </div>
    <div class="contato-info">
      <div data-aos="fade-down-right" data-aos-delay="180" class="contato-card">
        <fa-icon [icon]="mail" class="icon-card"></fa-icon>
        <h3 class="h3 titulo">Email</h3>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=dougnascimento.me&#64;gmail.com" class="contato-button" target="_blank">
        Contate-me <fa-icon [icon]="send"class="contato-button-icon"></fa-icon></a>
      </div>
      <div data-aos="fade-up-left" data-aos-delay="230" class="contato-card">
        <fa-icon [icon]="wpp" class="icon-card"></fa-icon>
        <h3 class="h3 titulo">WhatsApp</h3>
        <a href="https://wa.me/953511949" target="_blank" class="contato-button">Contate-me<fa-icon [icon]="send"
          class="contato-button-icon"></fa-icon></a>
      </div>
    </div>
  </div>
</section>

