.contato-container{
  display: grid;
  grid-template-columns: 300px 340px;
  column-gap: 3em;
  justify-content: center;
  align-items: center;
}

.contato-info{
  display: grid;
  row-gap: 1em;
}

.contato-card{
  background-color: #313131;
  padding: .4em;
  border-radius: .5em;
  text-align: center;
}

.icon-card{
  font-size: 1.8em;
  margin-bottom: 2em;
}

.titulo,
.subtitulo{
  font-size: 1em;
}

.titulo{
  font-weight: bold;
}

.subtitulo{
  display: block;
  margin-bottom: .75em;
}

.contato-button{
  color: #C18DBF;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25em;
  cursor: pointer;
}

.contato-button-icon{
  font-size: 1em;
  transition: .3s;
}

.contato-button:hover .contato-button-icon{
  transform: translateX(.25em);
}

.input-container{
  position: relative;
  margin-top: .1em;
  margin-bottom: 1.9em;
}

.input{
  width: 100%;
  border: 2px solid #f3f3f3;
  background-color: transparent;
  padding: .6em 1.2em;
  color: #f3f3f3;
  border-radius: .5em;
  letter-spacing: .5px;
  transition: .3s;
}

button{
  border: none;
}
