.navbar {
  border-bottom: 0.6px solid #f3f3f3;
}

.nav-logo {
  color: #f3f3f3;
  font-family: 'DM Sans', sans-serif;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #C18DBF;
  text-align: center;
  margin: auto;
}

.login:hover {
  color: #C18DBF;
}

img {
  width: 3.8em;
}

.nav-item {
  position: relative;
  margin-left: 1.5em;
  font-size: calc(.6em + .5vw);
  text-align: center;
}

.nav-item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  border-radius: 2px;
  background-color: #D49BB0;
  background: #11bebe;
  background: -webkit-linear-gradient(to right, #0a0508, #11bebe);
  background: linear-gradient(to right, #3632a8, #11bebe);
  transition: 0.4s ease;
}

.nav-item:hover::before {
  width: 100%;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #f3f3f3;
  margin-left: 1.5em;
  align-items: center;
}

.nav_container{
  transition: all .3s;
}

.nav li a:hover {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b, #fff689, #7cffcb, #4bf3d5);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-position 0.5s ease;
}

.nav li a:hover {
  background-position: -100% 0;
}

.nav-toggle-icon {
  width: auto;
  height: auto;
}

fa-icon {
  color: #f3f3f3;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .nav-item:hover::after {
    width: 0%;
  }
}
