<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/meu-logo-tipo.png" alt="Logo Douglas Nascimento" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Alternar navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sobre">Sobre Mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formacao">Formação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/certificados">Certificados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projetos">Projetos</a>
        </li>
      <!--<li class="nav-item">
          <a class="nav-link" routerLink="/videos">Vídeos</a>
        </li>*/ -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contato">Contato</a>
        </li>
      </ul>
      <!-- Botão de alternância de tema -->
      <button class="btn btn-theme-toggle" (click)="toggleTheme()">
        <fa-icon [icon]="isDarkMode ? faSun : faMoon"></fa-icon>
      </button>
    </div>
  </div>
</nav>
