.login{
  color: #f3f3f3;
  margin-left: 1em;
}

.login:hover{
  color: #C18DBF;
}

.entrar{
  background-color: #C18DBF;
  color: #f3f3f3;
  border: none;
  transition: .2s;
}

img{
  width: 5em;
}

.nav-item {
  position: relative;
  margin-left: 1.5em;
  text-align: center;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  border-radius: 2px;
  background-color: #D49BB0;
  transition: 0.4s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #f3f3f3;
  margin-left: 1.5em;
  align-items: center;
}

.nav_container{
  transition: all .3s;
}

.nav li a:hover {
  color: #D49BB0;
  transform: translateY(7px);
}

.nav-toggle-icon{
  width: auto;
  height: auto;
}

fa-icon{
  color: #f3f3f3;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 992px){
  .nav-item:hover::after {
    width: 0%;
  }
}
