<nav class="navbar navbar-expand-lg nav sticky-top shadow" style="background-color: #000000;">
  <div class="container-fluid nav_container">
    <div class="nav_logo navbar-brand">
      <a href="#home">
      <img src="./assets/meu-logo-tipo.png" alt="Logo Douglas Nascimento">
    </a>
    </div>
    <button class="navbar-toggler shadow-none me-3" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#sobre">Sobre mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#formacao">Formação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#projetos">Meus Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#contato">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
