<section id="projetos" class="projetos section vh-100">
  <h2 class="titulo-section">Meus projetos</h2>
  <div class="projetos-cards-container">
    <swiper init="false" class="project_cards my-swiper my_swiper"
        style="--swiper-navigation-color: #D9A0BB;--swiper-pagination-color: #D9A0BB">
        <swiper-slide class="swiper_slide">
            <div class="projetos-card">
                <div class="projetos-header">
                    <img src="./assets" alt="Imagem dos projetos">
                </div>
                <div class="projetos-conteudo">
                    <h3 class="nome">CypherCard</h3>
                    <p class="descricao">Projeto usando microsserviços, simula uma avaliação de crédito e a emissão de cartões baseada nessa avaliação.</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="swiper_slide">
            <div class="projetos-card">
                <div class="projetos-header">
                    <img src="./assets/" alt="Imagem dos projetos">
                </div>
                <div class="projetos-conteudo">
                    <h3 class="nome">User Registration App</h3>
                    <p class="descricao">User Registration App é um web app para cadastro e seleção de candidatos, otimizando o recrutamento</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="swiper_slide">
            <div class="projetos-card">
                <div class="projetos-header">
                    <img src="./assets/" alt="Imagem dos projetos">
                </div>
                <div class="projetos-conteudo">
                    <h3 class="nome">SafeExchange</h3>
                    <p class="descricao">SafeExchange é uma aplicação web na qual os usuários podem cadastrar pedidos e fazer ofertas para os pedidos de outros usuários.</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="swiper_slide">
            <div class="projetos-card">
                <div class="projetos-header">
                    <img src="./assets/" alt="Imagem dos projetos">
                </div>
                <div class="projetos-conteudo">
                    <h3 class="nome">ReadVista</h3>
                    <p class="descricao">ReadVista é um API de gerenciamento de bibliotecas projetada para facilitar o processo de empréstimo e devolução de livros.</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="swiper_slide">
            <div class="projetos-card">
                <div class="projetos-header">
                    <img src="./assets/" alt="Imagem dos projetos">
                </div>
                <div class="projetos-conteudo">
                    <h3 class="nome">Clinic Med</h3>
                    <p class="descricao">Clinic Med é uma API para uma clínica médica criada para para monitorar o cadastro de médicos, pacientes e agendamento de consultas.</p>
                </div>
            </div>
        </swiper-slide>
    </swiper>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

