<section id="projetos" class="projetos section">
  <div data-aos="zoom-in-up" class="d-flex justify-content-center">
    <h2 class="h2 titulo-section move-up">Meus Projetos</h2>
  </div>
  <div data-aos="fade-up-left" class="projetos-cards-container">
    <div class="grid-container">
      <div
        *ngFor="let projeto of projetos; let i = index"
        class="projeto-card"
        [attr.data-aos]="'fade-down'"
        [attr.data-aos-delay]="(i + 1) * 100"
      >
        <div class="projeto-header">
          <img [src]="projeto.imagem" [alt]="projeto.titulo">
        </div>
        <div class="projeto-conteudo">
          <div class="buttons-vista">
            <a [href]="projeto.link" target="_blank">
              <fa-icon class="github-icon" [icon]="faGithub"></fa-icon>
            </a>
          </div>
          <div class="projeto-descricao">
            <p>{{ projeto.descricao }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
