<section id="home" class="home vh-100">
  <div data-aos="fade-right" class="home-container container grid">
      <div class="home-social">
          <div class="home-social-links col-xs-12 col-sm-12 col-lg-12 col-md-12">
              <a data-aos="zoom-in-down" data-aos-delay="100" href="https://github.com/devDouglasN" target="_blank" class="home-social-link icon-github icon">
                  <fa-icon [icon]="faGithub"></fa-icon>
              </a>
              <a data-aos="zoom-in-down" data-aos-delay="100" href="https://www.linkedin.com/in/douglas-nascimento-323043269/" target="_blank" class="home-social-link icon-linkedin icon">
                  <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
          </div>
      </div>
      <div class="home-data col-xs-12 col-sm-12 col-lg-12 col-md-12">
          <h1 data-aos="fade-right" data-aos-delay="100" class="h1 home-titulo">Olá, me chamo Douglas.</h1>
          <h3 data-aos="fade-right" data-aos-delay="200" class="h3 home-subtitulo">Desenvolvedor Backend Java</h3>
      </div>
      <div class="button-container col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <a data-aos="fade-right" data-aos-delay="300" href="#sobre" class="button mais-info">
          <fa-icon [icon]="faUser"></fa-icon>Mais informações</a>
      </div>
  </div>
</section>

mais
