<section id="home" class="home vh-100">
  <img src="./assets/javaa.png" alt="Imagem de fundo" class="background-image">
  <div data-aos="fade-right" class="home-container container grid">
      <div class="home-social home-social-links">
        <div class="home-data col-xs-12 col-sm-12 col-lg-12 col-md-12">
          <h1 data-aos="fade-right" data-aos-delay="100" class="h1 home-titulo">
            <span #typeEffect class="cursor typed-text" ></span>
          </h1>
          <h3 data-aos="fade-right" data-aos-delay="200" class="h3 home-subtitulo">
            <span #typeEffect2></span>
          </h3>
        </div>
      </div>
  </div>
</section>
