.container {
  max-width: 1250px;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}

#home {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  position: relative;
  background: #040404 top right no-repeat;
  background-size: cover;
}

.home-container {
  position: relative;
  height: 100%;
  align-items: center;
}

.home-titulo {
  font-size: 1.6vw;
  font-size: calc(1em + 1vw);
}

#typewriter {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

#typewriter p{
  font-size: calc(.6em + .8vw);
  font-weight: 300;
  margin-bottom: .75em;
}

.home-social {
  position: relative;
  top: 7em;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-social-links {
  display: inline-flex;
  column-gap: 1em;
}

.home-social-links a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 1.1em;
}

.button-icon {
  font-size: 1.2vw;
}

.mais-info {
  font-size: calc(.6em + .5vw);
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  outline: 2px solid #f3f3f3;
  transition-property: outline-offset, outline-color, background-color;
  transition: .2s;
  transition-duration: .25s;
}

.icon:hover {
  outline-offset: 2px;
}

.icon:hover {
  transform: translateY(-5px);
}

.icon-instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  outline-color: #ff0080;
}

.icon-facebook:hover {
  background-color: #3b5998;
  outline-color: #3b5998;
}

.icon-github:hover {
  background-color: #4c2882;
  outline-color: #4c2882;
}

.icon-twitter:hover {
  background-color: #00acee;
  outline-color: #00acee;
}

.icon-linkedin:hover {
  background-color: #0072b1;
  outline-color: #0072b1;
}

.minha-info {
  display: flex;
  column-gap: 1em;
  position: absolute;
  left: 0;
  bottom: 1em;
  background-attachment: fixed;
}

.home-data {
  position: relative;
  top: 12em;
}

.button-container {
  position: relative;
  top: 15em;
  display: flex;
  justify-content: space-around;
  width: 25%;
}
