<section id="formacao" class="formacao section vh-100">
  <div class="d-flex justify-content-center">
    <h2 class="titulo-section">Formação</h2>
    <button class="button-plus"><fa-icon [icon]="faCirclePlus"></fa-icon></button>
  </div>

  <div class="cards-container">
    <div class="card">
      <div class="card-cabeçalho">
        <img src="./assets/blue.jpg" alt="">
      </div>
      <div class="card-icons">
        <ul>
          <li class="prolongar button"><a href="#" target="_blank"><fa-icon [icon]="faGlobe" class="icon prolongar"></fa-icon></a></li>
        </ul>
      </div>
      <div class="card-contente">
        <div class="info-personal instituicao deslocar">
          <p>Uninove</p>
        </div>
        <div class="info-personal titulo deslocar">
          <p>Sistemas de Informação</p>
        </div>
        <div class="info-personal encerra">
          <fa-icon [icon]="faCalendarDays"></fa-icon>
          <p>2022 até o presente momento</p>
        </div>
      </div>
      <div class="card-actions">
        <button class="botoes button prolongar">Enviar</button>
      </div>
    </div>
    <div class="card">
      <div class="card-cabeçalho">
        <img src="./assets/" alt="">
      </div>
      <div class="card-icons">
        <ul>
          <li class="prolongar button"><a href="#" target="_blank"><fa-icon [icon]="faGlobe" class="icon prolongar"></fa-icon></a></li>
        </ul>
      </div>
      <div class="card-conteudo">
        <div class="info-personal institucion deslocar">
          <p>Alura</p>
        </div>
        <div class="info-personal titulo deslocar">
          <p>Desenvolvedor Java</p>
        </div>
        <div class="info-personal encerra deslocar">
          <fa-icon [icon]="faCalendarDays"></fa-icon>
          <p>03/2023 a 03/2024</p>
        </div>
      </div>
      <div class="card-actions">
        <button class="botoes button prolongar">Enviar</button>
      </div>
    </div>

  </div>
</section>
