<section id="formacao" class="formacao section vh-100">
  <div data-aos="zoom-in-up" class="d-flex justify-content-center">
    <h2 class="titulo-section">Formação</h2>
    <button class="button-plus"><fa-icon [icon]="faCirclePlus"></fa-icon></button>
  </div>
  <div class="cards-container">
    <ul class="formacao-cards">

        <li data-aos="zoom-in-up" class="formacao-card">
            <div class="formacao-card-img">
                <img src="./assets/uninove.gif" alt="Imagem da Instituição">
            </div>
            <div class="formacao-card-content">
                <h3 class="h3" id="nome">Universidade Nove de Julho</h3>
                <div class="d-flex">
                  <p class="text">Sistemas de Informação</p>

                </div>
                <span class="encerra">2022 até o presente momento</span>

            </div>
            <div class="buttons">
                <button *ngIf="isLogged" routerLink="" >
                    <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
                </button>
                <button *ngIf="isLogged">
                    <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
                </button>
            </div>
        </li>
        <li data-aos="zoom-in-up" class="formacao-card">
          <div class="formacao-card-img">
              <img src="./assets/alura.png" alt="Imagem da escola de tecnologia">
          </div>
          <div class="formacao-card-content">
              <h3 class="h3" id="nome">Alura</h3>
              <div class="d-flex">
                <p class="text">Desenvolvedor Java</p>
              </div>
              <span class="encerra">03/2023 até 03/2024</span>
          </div>
          <div class="buttons">
              <button *ngIf="isLogged" routerLink="" >
                  <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
              </button>
              <button *ngIf="isLogged">
                  <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
              </button>
          </div>
      </li>
    </ul>
</div>
</section>
