<section id="formacao" class="formacao-section">
  <div class="container">
    <div class="section-header" data-aos="fade-up">
      <h2>Formação</h2>
    </div>
    <div class="row">
      <!-- Card 1 -->
      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="card">
          <div class="card-bg" style="background-image: url('./assets/post_uninove.png');"></div>
          <div class="card-body">
            <h3>Universidade Nove de Julho</h3>
            <p>Sistemas de Informação</p>
            <span>2022 - Atual</span>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="card">
          <div class="card-bg" style="background-image: url('./assets/alura-img.jpeg');"></div>
          <div class="card-body">
            <h3>Alura</h3>
            <p>Desenvolvedor Java</p>
            <span>Março 2023 - Março 2024</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Exemplo de Tooltip -->
<div class="skill-card" data-toggle="tooltip" data-placement="top" title="Conhecimento em segurança dos serviços AWS">
  <!-- Conteúdo do Card -->
</div>

