ul{
  padding: 0;
}

.cards-container{
  position: relative;
  top: 2em;
}

.formacao-cards{
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  justify-items: center;
}

.formacao-card {
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  width: 40vw;
  display: flex;
  flex-direction: row;
  height: 115px;
  list-style: none;
  list-style-type: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 1em 0;
  transition: all .3s;
}

.formacao-card:hover {
  border: 1px solid #D9A0BB;
}

.formacao-card-img {
  height: 100px;
}

.formacao-card-img>img {
  object-fit: cover;
  height: 125px;
}

.formacao-card-content {
  padding: .7em;
  width: 100%;
}

.formacao-card-content h3 {
  font-size: calc(.6em + .3vw);
}

.text {
  color: #c2c0c0;
  font-size: calc(.4em + .3vw);
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}

.buttons{
  position: absolute;
  display: flex;
  left: 90%;
}

.buttons button{
  border: none;
  margin-right: .5em;
  background-color: transparent;
  color: #f3f3f3;
}

.buttons button:hover{
  color: #D9A0BB;
}

.encerra{
  font-size: calc(.4em + .3vw);
  position: relative;
  top: -.5em;
}

.doc:hover{
  color: #D9A0BB;
}


