.bodyPers{
  background: #232323;
  color: #f3f3f3;
}

.button{
  display: inline-flex;
  align-items: center;
  column-gap: .5em;
  background-color: #C18DBF;
  color: #f3f3f3;
  padding: .75em 1.4em;
  border-radius: .25em;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.button::after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  background-color: #232323;
  z-index: -1;
  border-radius: .25em;
  transition: .2s;
}

.button:hover::after{
  transform: scale(1);
  background-color: #5A4F73;
}
