<section id="sobre" class="sobre section-two">
  <div data-aos="zoom-in-up" class="d-flex justify-content-center">
    <h2 class="h2 titulo-section">Sobre mim</h2>
  </div>
  <div class="row sobre-container">
    <div data-aos="fade-down-right" data-aos-delay="200" class="col-xs-12 col-sm-6 col-lg-6 col-md-6 imagem">
    <img src="./assets/eu.jpg" alt="Minha foto" class="img-fluid sobre-img">
  </div>
      <div data-aos="fade-up-left" data-aos-delay="300" class="sobre-data col-xs-12 col-sm-6 col-lg-6 col-md-6">
        <div class="card">
          <p class="sobre-descricao">
            Me chamo Douglas, tenho 26 anos e sou estudando do 5º semestre de Sistemas de Informação.
            Sou desenvolvedor back-end e em quase dois anos de estudos, me dediquei exclusivamente ao Java e ao seu framework Spring.
            Nesse período, adquiri conhecimentos indispesáveis para a área de back-end, como linguagem SQL(MySQL/PostgreSQL), testes(JUnit/Mockito), Git/Github,
            além de práticas ágeis com Kanban.
            Estudei também o framework Angular, pois senti necessidade e percebi a importância de conhecer e entender a comunicação entre back e front-end,
            o que me permitiu a experiência de ver uma de minhas APIs completa e finalizada.
            Aprendi na prática a utilizar Docker e Docker Compose, e estou aprimorando minhas habilidades com plataforma de nuvem AWS.
            Já utilizei estrutura de microsserviços em meu projeto e tenho conhecimentos sobre serviço de mensageria usando o
            RabbitMQ.
            Estou empenhado em expandir meus conhecimentos, contribuir para projetos e crescer profissionalmente.
            Sou determinado, estou pronto para agregar, seja onde for.
          </p>
       </div>
        <div class="button-sobre">
          <a data-aos="fade-down-left" data-aos-delay="100" href="#contato" class="button">
            <fa-icon [icon]="faPaperPlane"></fa-icon>Contate-me
          </a>
          <a data-aos="fade-down-left" data-aos-delay="200" download class="button">
            <fa-icon [icon]="faFileLines"></fa-icon>Baixar currículo
          </a>
        </div>
      </div>
  </div>
</section>
