a {
  text-decoration: none;
  color: #f3f3f3;
}

.move-up {
  margin-top: -1em;
  font-weight: bold;
}

.sobre {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -11%;
  margin-left: -11%;
}

.sobre-img {
  position: relative;
  top: -4em;
  right: -1000;
  width: 30em;
  border: 5px solid black;
}

.imagem {
  margin-left: -20em;
}

.imagem img {
  right: -1000;
  border: 5px solid black;
  border-radius: 10%;
  float: right;
}

.sobre-data {
  padding: 0em 3em;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -13%;
}

.sobre-descricao {
  font-size: calc(.6em + .5vw);
  text-align: center;
  margin-bottom: 2.5em;
  color: white;
}

.card {
  position: relative;
  top: 5em;
  left: -50;
  padding: 1em;
  border-radius: 20px;
  background: rgb(72, 69, 69);
  box-shadow: 0 15px 35px rgb(0, 0, 0);
  border: 1px solid rgb(46, 38, 38);
}

.button {
  background: rgb(0, 0, 0);
}

.button-sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 2em;
}

.button-sobre a {
  letter-spacing: 1px;
  font-size: calc(.6em + .5vw);
}

@media only screen and (max-width: 400px) {
  .sobre-img {
    width: 10em;
    left: -7.5em;
  }
}
