<section id="sobre" class="sobre a seção vh-100">
  <h2 class="titulo">Sobre mim</h2>

  <div class="sobre-container container grid">
      <img src="./assets/adicionar-imagem.jpg" alt="" class="sobre-img">
      <div class="sobre-data">
          <h3 class="sobre-titulo">Olá, sou Douglas</h3>
          <p class="sobre-descrição"> Vou falar um pouco sobre mim...
               Olá...
               <br>
               Falar sobre futuramente
               <br>
               Falar sobre futuramente
              </p>
          <div class="sobre-info">
              <div class="sobre-box">
                  <fa-icon [icon]="faSuitcase" class="sobre-icon"></fa-icon>
                  <h3 class="sobre-cabeçalho">ProJetos</h3>
                  <span class="sobre-subtitulo">+9</span>
              </div>
              <div class="sobre-box">
                  <fa-icon [icon]="faHeadset" class="sobre-icon"></fa-icon>
                  <h3 class="sobre-cabeçalho">Médio</h3>
                  <span class="sobre-subtitulo">24/7</span>
              </div>
          </div>
          <div class="buttons-sobre">
              <a href="#contato" class="button">
                  <fa-icon [icon]="faPaperPlane"></fa-icon>Contate-me
              </a>
              <a href="/" class="button">
                  <fa-icon [icon]="faFileLines"></fa-icon>
                  Baixar currículo
              </a>
          </div>
      </div>
  </div>
</section>
