<section id="sobre" class="sobre-section">
  <div class="container">
    <div class="section-header" data-aos="fade-up">
      <h2>Sobre Mim</h2>
    </div>
    <div class="row align-items-center">
      <!-- Coluna da Imagem -->
      <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-delay="200">
        <div class="sobre-imagem">
          <img src="./assets/eu.jpg" alt="Douglas Nascimento" class="img-fluid rounded-circle">
        </div>
      </div>
      <!-- Coluna do Texto -->
      <div class="col-lg-6 col-md-12" data-aos="fade-left" data-aos-delay="300">
        <div class="sobre-conteudo">
          <p>
            Oi, tudo bem?

              Me chamo Douglas, tenho 26 anos e estou no 5º semestre de Sistemas de Informação. Nos últimos quase dois anos,
              atuei como desenvolvedor back-end, especialmente com Java e o framework Spring. Durante esse período, desenvolvi
              habilidades fundamentais para a área.

              Atualmente, estou direcionando minha carreira para a área de cibersegurança na nuvem, focando na plataforma AWS.
              Recentemente, conquistei minha primeira certificação como AWS Certified Cloud Practitioner, e continuo aprofundando
              meus conhecimentos nos diversos serviços da AWS, com o objetivo de unir meu background em desenvolvimento à
              segurança em ambientes de nuvem.

              Estou animado para aplicar essa combinação de habilidades em novos desafios, sempre buscando fortalecer tanto
              a segurança quanto a eficiência dos sistemas que ajudo a construir.
            </p>
          <div class="buttons">
            <a href="https://wa.me/5511953511949" target="_blank" class="btn btn-primary">
              <fa-icon [icon]="faPaperPlane"></fa-icon> Contate-me
            </a>
            <a href="./assets/curriculo-atualizado2024.pdf" download class="btn btn-secondary">
              <fa-icon [icon]="faFileLines"></fa-icon> Baixar currículo
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
