/* skills.component.css */

/* Estilos para o título "Habilidades" */
.section-header {
  text-align: center;
  margin-bottom: 40px; /* Espaçamento abaixo do título */
}

.section-header h2 {
  font-size: 36px;
  font-weight: 600;
  color: #333;
  position: relative;
  display: inline-block;
}

.section-header h2::after {
  content: '';
  width: 60px;
  height: 4px;
  background: #00bcd4; /* Cor verde ciano */
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}

/* Configuração geral */
.skills-section {
  padding: 80px 20px; /* Adicionei padding horizontal */
  background-color: #ffffff;
  color: #000000;
}

.skills-subsection {
  margin-bottom: 60px; /* Espaçamento entre as subseções */
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.skills-description {
  width: 40%;
}

.skills-description h3 {
  font-size: 32px;
  color: #00bcd4;
}

.skills-description p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 55%;
}

.skill-card {
  background-color: transparent;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s, border 0.3s ease;
  border: 2px solid transparent;
}

.skill-card:hover {
  transform: translateY(-5px);
  border: 2px solid #00bcd4;
}

.skill-icon img,
.skill-icon svg {
  width: 60px;
  height: 60px;
  transition: transform 0.3s;
}

.skill-card:hover .skill-icon img,
.skill-card:hover .skill-icon svg {
  transform: scale(1.1);
}

/* Ilustração da Seta Apontando para Baixo */
.arrow-indicator {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.arrow-indicator svg {
  width: 50px;
  height: 50px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
 50% {
    transform: translateY(10px);
  }
 100% {
    transform: translateY(0);
  }
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-description {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .skills-grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
