/* skills.component.css */

/* Importação da fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* Seção de Skills */
.skills-section {
  padding: 80px 0;
  background-color: #f7f9fc;
}

.section-header h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  color: #333;
}

.skills-cloud, .skills-programming {
  margin-bottom: 60px;
}

.skills-cloud h3, .skills-programming h3 {
  font-size: 28px;
  font-weight: 600;
  color: #0073bb; /* Azul AWS */
  margin-bottom: 40px;
  text-align: center;
}

/* Cards */
.skill-card {
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 30px 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: translateY(-10px);
}

.skill-icon {
  margin-bottom: 20px;
}

.skill-icon img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s;
}

.skill-icon fa-icon {
  font-size: 50px;
  color: #ff9900; /* Laranja AWS */
  transition: transform 0.3s;
}

.skill-icon fa-icon:hover,
.skill-icon img:hover {
  transform: scale(1.1);
}

.skill-card h4 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

/* Ajustes para Ícones Font Awesome */
.fa-icon {
  font-size: 50px;
  color: #ff9900;
}

/* Responsividade */
@media (max-width: 991px) {
  .skills-cloud h3, .skills-programming h3 {
    font-size: 24px;
  }

  .skill-card {
    padding: 20px 15px;
  }

  .skill-card h4 {
    font-size: 18px;
  }

  .skill-icon img,
  .fa-icon {
    width: 50px;
    height: 50px;
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .skills-cloud h3, .skills-programming h3 {
    font-size: 22px;
  }

  .skill-card h4 {
    font-size: 16px;
  }

  .skill-icon img,
  .fa-icon {
    width: 40px;
    height: 40px;
    font-size: 35px;
  }
}
