<section id="skills" class="skills section vh-100">
  <div data-aos="zoom-in-up" class="d-flex justify-content-center">
    <h2 class="h2 titulo-section">Hard & Soft Skills</h2>
    <button *ngIf="isLogged" class="button-plus"><fa-icon [icon]="faCirclePlus"></fa-icon></button>
    <button *ngIf="isLogged" class="button-edit"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
  <div class="skills-container">
    <div class="hard-skills">
      <div class="hard-container">
        <div data-aos="fade-down" data-aos-delay="100" class="cards">
          <a href="https://docs.oracle.com/en/java/" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="java"></fa-icon>
              <h3 class="titulo-hs">Java</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="fade-down" data-aos-delay="200" class="cards">
        <div class="icon">
          <a href="https://developer.mozilla.org/es/docs/Web/Docker" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="docker"></fa-icon>
              <h3 class="titulo-hs">Docker</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="fade-down" data-aos-delay="300" class="cards">
        <div class="icon">
          <a href="https://developer.mozilla.org/es/docs/Web/mysql" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="mysql"></fa-icon>
              <h3 class="titulo-hs">MySQl</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="fade-down" data-aos-delay="400" class="cards">
        <div class="icon">
          <a href="https://developer.mozilla.org/en-US/docs/Web/git" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="git"></fa-icon>
              <h3 class="titulo-hs">Git</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="fade-down" data-aos-delay="500" class="cards">
        <div class="icon">
          <a href="https://developer.mozilla.org/en-US/docs/Web/github" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="github"></fa-icon>
              <h3 class="titulo-hs">GitHub</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="fade-down" data-aos-delay="600" class="cards">
        <div class="icon">
          <a href="https://angular.io/" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="angular"></fa-icon>
              <h3 class="titulo-hs">Angular</h3>
            </div>
          </a>
        </div>
      </div>
    </div>  </div>
 </div>
</section>
