.skills-container {
  position: relative;
  top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hard-skills {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 2fr);
  gap: 2em;
  width: 38vw;
  height: 28vw;
  background-color: #564f4f;
  backdrop-filter: blur(5px);
  border-radius: 1em;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.62em;
  margin-bottom: 3em;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px #00000080;
}

.icon-ss {
  font-size: calc(.9em + .8vw);
}

.titulo-hs {
  font-size: calc(.4em + .3vw);
  color: #f9f9f9;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  border-radius: 1em;
  background-color: transparent;
  padding: .5em;
  text-align: center;
  border: none;
  transition: .2s;
}

.soft-skills {
  padding:0 4em;
  width: 100%;
  border-radius: 1em;
  background-color: transparent;
}

.titulo-tipo {
  font-size: 2vw;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1.8em;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: hidden;
  backdrop-filter: blur(1rem);
  background-color: #313131;
  width: 8rem;
  margin: 0 auto;
  border-radius: 20px;
  color: #2c3d3f;
  -webkit-backdrop-filter: blur(.5rem);
  padding: .5em;
}

.cards a {
  text-decoration: none;
  color: #f3f3f3;
}

.card-ss {
  width: 25rem;
  height: 10rem;
  border-radius: 1em;
  background-color: #313131;
  margin-left: 2em;
  padding: .5em;
  text-align: center;
  box-shadow: 0 10px 20px #00000080;
}

.card-ss:hover {
  border: 1px solid #D49BB0;
}

.card-ss h4 {
  font-size: 1.3vw;
  margin-bottom: 1em;
}

.icon-hs {
  font-size: 2vw;
  color: #f3f3f3;
  transition: .3s;
  transform: scale(1);
}

.icon-hs:hover {
  color: #D49BB0;
  transform: scale(2);
  background-color: #232323;
}

.card:hover {
  border: 1px solid #D9A0BB;
}
