@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Cairo', sans-serif;
}

.bodyPers{
  background: #232323;
  color: #f3f3f3;
  background-attachment: fixed;
}

.button{
  font-size: calc(.6em + .5vw);
  display: inline-flex;
  align-items: center;
  column-gap: .5em;
  background-color: #C18DBF;
  color: #f3f3f3;
  padding: .75em 1.4em;
  border-radius: .25em;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.button::after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  background-color: #232323;
  z-index: -1;
  border-radius: .25em;
  transition: .2s;
}

.button-plus{
  font-size: calc(.6em + .5vw);
  background-color: transparent;
  border: none;
  color: #f3f3f3;
  font-size: calc(.6em + .5vw);
  position: relative;
  left: .8em;
}

.button-edit{
  background-color: transparent;
  border: none;
  color: #f3f3f3;
  font-size: calc(.6em + .5vw);
  position: relative;
  left: 1.2em;
}

.button:hover::after{
  transform: scale(1);
  background-color: #5A4F73;
}

.section{
  padding: 20em 0 2em;
}

.titulo-section{
  text-align: center;
}

app-footer{
  position: relative;
  top: -4em;
}
