
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Cairo', sans-serif;
}

.bodyPers {
  color: #fffffffa;
  background-color: #000000;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Cairo', sans-serif;
}

.button {
  font-size: calc(.6em + .5vw);
  display: inline-flex;
  align-items: center;
  column-gap: .5em;
  background-color: #C18DBF;
  color: #f3f3f3;
  padding: .75em 1.4em;
  border-radius: .25em;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.button::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  background-color: #232323;
  z-index: -1;
  border-radius: .25em;
  transition: .2s;
}

.button:hover::after {
  transform: scale(1);
  background-color: #5A4F73;
}

.section {
  padding: 20em 0 2em;
  overflow: hidden;
  height: 100vh;
  min-height: 100vh;
}

.titulo-section {
  text-align: center;
  position: relative;
}

.titulo-section:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  bottom: -8px;
  background: #11bebe;
  background: -webkit-linear-gradient(to right, #A83279, #11bebe);
  background: linear-gradient(to right, #A83279, #11bebe);
}

app-footer {
  position: relative;
  top: -4em;
}

@media only screen and (max-width: 400px) {
  .section{
    padding: 2em 0 1em;
    height: max-content;
  }
}

.contato {
  padding: 12em 0 1em;
  overflow: hidden;
}
